
.gallery1 {
    width:450px;
    height:270px;
}
.gallery2 {
    width:200px;
    height:200px;
}
.gallery3 {
    width:400px;
    height:250px;
}
.M5E60 {
    width:600px;
    height:400px;
}
.X5G05 {
    width:600px;
    height:400px;
}
.X320d {
    width:600px;
    height:400px;
}
.F90 {
    width:600px;
    height:400px;
}
.GLS {
    width:600px;
    height:400px;
}
.AMG {
    width:600px;
    height:400px;
}
.cclass{
    width:600px;
    height:400px;
}
.A4 {
    width:600px;
    height:400px;
}
.TT {
    width:600px;
    height:400px;
} 
.rs7 {
    width:600px;
    height:400px;
}
header {
    background-color: aqua;
    text-align: center;
    font-size:24px;
}
a {
    color:bLACK;
}
h2 {
    color:blue;
}
footer {
    background-color: #226078	;
    font-size:38px;
    text-align: center;
    color:white;
}
img {
    border:10px dashed #0776A0;
}
body {
    background-color: #62B1D0;
}


.cars p{
    text-align:right;
    float: right;
    width: 50%;
    position: absolute;
    right: 20px;
    font-size: large;
}
h2 {
    text-align: center;
    font-size: 60px;
}
a:hover {
color:white;
background-color:black;
}
a {
    background-color:white;
    border-radius: 3px;
    text-decoration: none;
}